.videoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.goHome{
  margin-right: calc(100% - 100px);
  text-decoration: none;
}

.video {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.video p {
  font-weight: bold;
  margin: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.video h4 {
  margin-bottom: 20px;
}
