.videoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}
.video p{
    font-weight: bold;
    margin:10px;
}
.video h4{
    margin-bottom:20px;
}
.video{
    margin-top:20px;
    margin-bottom: 20px;
}