.nav {
  animation: hue 10s infinite linear;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
.container {
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  perspective: 1000px;
  animation: fadeIn 0.7s ease;
  position:relative;
}
.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon > span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.badge button{
  border:none;
  background-color: transparent;
  margin-left: 5px;
  font-weight:lighter;
  font-size: 12px;
}
.list {
  list-style-type: none;
  margin: 10px;
  display: inline-block;
  font-size: 15px;
}
.video{
  display: flex;
  align-items: center;
}


.modalButton {
  color: black;
  border: none;
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  margin-right: 0.1em;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);

  transition: background-color 0.5s ease;
}

.overlay{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100%;
  background-color: transparent;
  animation :fadeIn 0.3s ease;
  transition: background-color 0.5s ease;
  font-size: 20px;
}
.close{
  border:none;
  margin-top:10px;
  height:50px;
  width:50px;
  border-radius: 50%;
  background-color: black;
  color:#FFFFFF;
}
.close:hover{
  background-color: blue;
}
.content{
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding:10px 0;
  border-radius: 20px;;
}
.pageContainer{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.pageButton{
  display:flex;
  flex-direction: row;
  border:none;
  padding:10px;
  margin:10px 5px 30px 5px;
  background-color: transparent;
}
.activePaginationButton{
  display:flex;
  flex-direction: row;
  border:none;
  padding:10px;
  margin:10px 5px 30px 5px;
  text-decoration: underline;
  background-color: transparent;
  font-weight: bold;
}
.paginationButton{
  display:flex;
  flex-direction: row;
  border:none;
  padding:10px;
  margin:10px 5px 30px 5px;
  background-color: transparent;
  transition: color 0.3s;
}
.toggleWrapper{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:20px;
}
.toggle{
  display:flex;
  align-items: center;
  width:40px;
  height:20px;
  border-radius: 15px;
  position:relative;
  cursor:pointer;
}
.toggle::before{
  content:'';
  position:absolute;
  width:16px;
  height:16px;
  background-color: #fff;
  border-radius: 50%;
  transition:0.3s;
}
.load{
  display: flex;
  justify-content: center;
  align-items: center;

}
.loader {
  height:10px;
  width:130px;
  background:
   linear-gradient(#766DF4 0 0),
   linear-gradient(#766DF4 0 0),
   #E4E4ED;
 background-size: 60% 100%;
 background-repeat: no-repeat;
 animation: p6 3s infinite;
}

@keyframes p6 {
 0%   {background-position:-150% 0,-150% 0}
 66%  {background-position: 250% 0,-150% 0}
 100% {background-position: 250% 0, 250% 0}
}