@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Lobster&family=Nabla&display=swap');
.nav {
  margin:15px 0;
  animation: hue 10s infinite linear;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  font-family: 'Black Ops One', sans-serif;
  word-spacing: 7px;
  font-size: 40px;
}
  

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.search {
  margin-right:35%;
}
.search > input{
  border: none;
  border-radius: 10px;
  padding: 10px;
  width:150px;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search > input:focus{
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  transition: 1s ease;
}
.search > button{
  border: none;
  background-color: transparent;
  margin-left: 5px;
  font-weight: bold;
  font-size: 15px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
  }
}
.playlists{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgba(0, 0, 0, 0.03);
  max-width: 1700px;
  border-radius: 30px;
  margin:20px 10px;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  perspective: 1000px;
  animation: fadeIn 0.7s ease;
  position: relative;
}
.ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px;
  height: 75px;
  text-align: right;
}
.ribbon > span {
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#2989d8 0%, #1e5799 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px;
  left: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #1e5799;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #1e5799;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #1e5799;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top:5px;
}
.badge button{
  font-size: 7px;
  color:lightslategray;
}
.badge button {
  border: none;
  background-color: transparent;
  margin-left: 5px;
  font-weight: lighter;
  font-size: 10px;
}
.list {
  list-style-type: none;
  margin: 10px;
  display: inline-block;
  font-size: 15px;
}
.video {
  display: flex;
  align-items: center;
}

.modalButton {
  color: black;
  border: none;
  font-size: 1.2em;
  padding: 0.3em 0.5em;
  margin-right: 0.1em;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);

  transition: background-color 0.5s ease;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: fadeIn 0.3s ease;
  transition: background-color 0.5s ease;
  font-size: 20px;
}
.close {
  border: none;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  color: #ffffff;
}
.close:hover {
  background-color: blue;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  padding: 10px 0;
  border-radius: 20px;
}
.pageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.pageButton {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 10px;
  margin: 10px 5px 30px 5px;
  background-color: transparent;
}
.activePaginationButton {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 10px;
  margin: 10px 5px 30px 5px;
  text-decoration: underline;
  background-color: transparent;
  font-weight: bold;
}
.paginationButton {
  display: flex;
  flex-direction: row;
  border: none;
  padding: 10px;
  margin: 10px 5px 30px 5px;
  background-color: transparent;
  transition: color 0.3s;
}
.load {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  height: 10px;
  width: 130px;
  background: linear-gradient(#766df4 0 0), linear-gradient(#766df4 0 0),
    #e4e4ed;
  background-size: 60% 100%;
  background-repeat: no-repeat;
  animation: p6 3s infinite;
}

@keyframes p6 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}

.modal {
  background: dodgerblue;
  height: 1px;
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.5s ease 0.5s, height 0.5s ease;
  width: 0;
}

.modalContent {
  color: transparent;
  font-family: "Consolas", arial, sans-serif;
  font-size: 2em;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate3d(0, -50%, 0);
  transition: color 0.5s ease;
  width: 100%;
}

.modalLabel {
  color: dodgerblue;
  cursor: pointer;
  font-family: "Consolas", arial, sans-serif;
  font-size: 2em;
  position: fixed;
  left: 50%;
  top: 50%;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  transition: color 0.5s ease 0.5s;
}

.modalInput {
  cursor: pointer;
  height: 0;
  opacity: 0;
  width: 0;

 
}
.modalInput:focus{
  outline: none;
}

.modalInput:checked {
  height: 40px;
  opacity: 1;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1;
  width: 40px;
}
.modalInput:checked::before {
  border-top: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 100%;
}
.modalInput:checked::after {
  border-top: 1px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 100%;
  transform: rotate(-45deg);
}

.modalInput:checked + label {
  color: #fff;
  transition: color 0.5s ease;
}

.modalInput:checked ~ .modal {
  height: 100%;
  width: 100%;
  transition: width 0.5s ease, height 0.5s ease 0.5s;
  .content {
    color: #fff;
    transition: color 0.5s ease 0.5s;
  }
}
